{
  "extends": [
    "standard", "plugin:react/recommended"
  ],
  "env": {
    "browser": true,
    "node": true,
    "es6": true
  },
  "parser": "babel-eslint",
  "plugins": [
    "react"
  ],
  "globals": {
    "__DEV__": true,
    "__SERVER__": true,
    "expect": true,
    "test": true,
    "jest": true,
    "it": true
  },
  "rules": {
  }
}
